extends layout

block scripts
  script( src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
  script(type='text/javascript').
    var local_data = !{JSON.stringify(name)};
  script(type='text/javascript').
    var imgShape = !{JSON.stringify(imgShape)};
  script(src='/javascripts/clientshowimage.js')



block content
  div.container#contain
    canvas#canvas(width='320', height='480', z-index='1')
    img.image#mainimage(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="" height="" )
