extends layout

block scripts
  script( src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
  script(type='text/javascript').
    var imageId = !{JSON.stringify(imageId)};
  script(src='/javascripts/clientshowimage.js')



block content
  div.container#contain
    img.image#currentImage(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="" height="" )
    img.image#fullImage(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="" height="" )
    canvas#canvas(width='320', height='480', z-index='1')
    div#canvas2(width='' height='')
  div.container#bottomLeftContainer
    h3#coordinatesText
    h4#infoText
    h4#bandwidthText
    h3#messageText
  div.container#bottomRightContainer
    button#resetZoomButton Reset zoom
    button#undoLastZoomButton Undo last movement
    div.container#directionsContainer
      button#rightButton R
      button#upButton U
      button#downButton D
      button#leftButton L
