extends indexLayout

block content
  h1= title
  a(href='/imageshow/image1') Image 1
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image1') Original
  br
  a(href='/imageshow/image2') Image 2
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image2') Original
  br
  a(href='/imageshow/image3') Image 3
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image3') Original
  br
  a(href='/imageshow/image4') Image 4
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image4') Original
  br
  a(href='/imageshow/image5') Image 5
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image5') Original
  br
  a(href='/imageshow/image6') Image 6
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image6') Original
  br
  a(href='/imageshow/image7') Image 7
  a &nbsp;&nbsp;&nbsp;&nbsp;
  a(href='/original/image7') Original
