extends indexLayout

block content
  h1= title
  a(href='/imageshow/image1') Image 1
  br
  a(href='/imageshow/image2') Image 2
  br
  a(href='/imageshow/image3') Image 3
  br
  a(href='/imageshow/image4') Image 4
  br
  a(href='/imageshow/image5') Image 5
