body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#canvas {
  position: fixed;
  left: 46%;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#mainimage {
  position: fixed;
  left: 46%;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
