body
  padding: 0px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#canvas
  position: absolute
  z-index: 1
#mainimage
  position: fixed
  left: 45%
  transform: translate(-50%)
  z-index: 5
