body
  padding: 0px
  margin:0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#canvas
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  z-index: 1
#currentImage
  position: fixed
  image-rendering: pixelated
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  z-index: 2
  width: 90vw
  height: 90vh
#fullImage
  position: fixed
  image-rendering: pixelated
  left: 50%
  top: 50%
  transform: translate(-50%,-50%)
  z-index: 2
#canvas2
  position: fixed
  width: 2000px
  height: 2000px
  z-index: 10
.rectangle
  border: 2px solid #FF0000
  position: fixed
#bottomLeftContainer
    display: inline-block
    position: fixed
    top: 95%
    z-index: 11
#coordinatesText
  display: inline-block
  padding: 0px 20px
  z-index: 11
#infoText
  display: inline-block
  padding: 0px 20px
  color: black
  z-index: 11
#bandwidthText
  display: inline-block
  padding: 0px 20px
  color: black
  z-index: 11
#messageText
  display: inline-block
  color: red
  z-index: 11

#bottomRightContainer
  position: absolute
  bottom: 10px
  right: 10px
  z-index: 11
#resetZoomButton
  display: inline-block
  margin: 0px 10px
  z-index: 11
#undoLastZoomButton
  display: inline-block
  margin: 0px 10px
  z-index: 11
#directionsContainer
  display: inline-block
  margin: 0px 10px
  z-index: 11

#upButton
    display: inline-block
    transform: translate(-50%,-55%)
    z-index: 11
    padding: 1px 1px
#downButton
    display: inline-block
    transform: translate(50%,55%)
    z-index: 11
    padding: 1px 1px
#rightButton
    display: inline-block
    transform: translate(0%,0%)
    z-index: 11
    padding: 1px 1px
#leftButton
    display: inline-block
    transform: translate(0%,0%)
    z-index: 11
    padding: 1px 1px
h3
  display: inline-block
button
  float: right
  background-color: #4CAF50; /* Green */
  border: none
  color: white
  padding: 5px 10px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 12px
