body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#mainimage {
  position: fixed;
  image-rendering: pixelated;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#canvas2 {
  position: fixed;
  width: 2000px;
  height: 2000px;
  z-index: 10;
}
.rectangle {
  border: 2px solid #f00;
  position: fixed;
}
#coordinatesText {
  position: fixed;
  top: 95%;
  z-index: 11;
}
#resetZoomButton {
  position: fixed;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
#undoLastZoomButton {
  position: fixed;
  left: 60%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
#rightButton {
  position: fixed;
  left: 68%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  z-index: 11;
}
h3 {
  display: inline-block;
}
button {
  float: right;
  background-color: #4caf50; /* Green */
  border: none;
  color: #fff;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
