body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#canvas {
  position: fixed;
  left: 46%;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
#mainimage {
  position: fixed;
  left: 46%;
  top: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#canvas2 {
  position: fixed;
  width: 2000px;
  height: 2000px;
  z-index: 10;
  border: 5px solid transparent;
}
.rectangle {
  border: 2px solid #f00;
  position: fixed;
}
